<app-navbar></app-navbar>
<div>
    <mat-card>
        <mat-card-header>
            <h1>{{user.Username}}'s Profile</h1>
        </mat-card-header>
        <mat-card-content>
            <h2>User Information</h2>
            <h3>Username: {{user.Username}}</h3>
            <h3>Email: {{user.Email}}</h3>
            <h3>Brthday: {{user.Birthday | date:'MM-dd-YYYY'}}</h3>
        </mat-card-content>
        <mat-card-footer>
            <button mat-raised-button>
                Edit
            </button>
            <button mat-raised-button>
                Delete
            </button>
        </mat-card-footer>
    </mat-card>
</div>