<app-navbar></app-navbar>
<div>
    <mat-card>
        <mat-card-header>
            <h1>{{user.Username}}'s Profile</h1>
        </mat-card-header>
        <mat-card-content>
            <h2>User Information</h2>
            <h3>Username: {{user.Username}}</h3>
            <h3>Email: {{user.Email}}</h3>
            <h3>Brthday: {{user.Birthday | date:'MM-dd-YYYY'}}</h3>
        </mat-card-content>
        <mat-card-footer>
            <button mat-raised-button (click)="editProfileDialog()">
                Edit
            </button>
            <button mat-raised-button>
                Delete
            </button>
        </mat-card-footer>
    </mat-card>
</div>
<div style="display: flex;">
    <mat-card *ngFor="let movie of favMovies;" style="flex: 1 1 auto;">
        <mat-card-header>
            <mat-card-title>{{movie.Title}}</mat-card-title>
            <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
        </mat-card-header>
        <img src={{movie.ImagePath}} alt={{movie.Title}} />
        <mat-card-actions>
            <button (click)="removeFavorite(movie._id)">
                <mat-icon>favorite</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>